<h1>Gasto mensual por alumno</h1>

<p>¿Cuánto gasta el Ministerio de Educación <strong>nacional</strong> por alumno?</p>
<p>¿Cómo se distribuye ese aporte entre las provincias?</p>

<p><em>Valores de 2011</em></p>

<script type="text/javascript" src="https://www.google.com/jsapi"></script>

<div id="chart_div" style="width: 900px; height: 500px;"></div>

<script type="text/javascript">
  google.load("visualization", "1", {packages:["corechart"]});
  google.setOnLoadCallback(drawChart);
  function drawChart() {
        var data = google.visualization.arrayToDataTable(<%= array %>);

        var options = {
          title: '',
          hAxis: {title: '', titleTextStyle: {color: 'red'}}
        };

        var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
        chart.draw(data, options);
  }
</script>

<strong>Inquietudes pendientes:</strong>
<ul>
  <li>¿Cuánto se gasta en total por alumno? (incluyendo inversión de las provincias)</li>
  <li></li>
</ul>

<p>Fuente: Datos publicados por el Ministerio de Educación para el #HackatonProgramAR</p>