
<!-- Jumbotron -->
<div class="jumbotron">
	<h1>EducaData</h1>
	<p class="lead">
		Set de visualizaciones de indicadores educativos en el período 2003 a 2009.
	</p>
	<a class="btn btn-large btn-success" href="#">Más información</a>

	<p>&nbsp;</p>
	<p><a href="https://github.com/wecodeio/educadata" class="btn">Ver código fuente</a></p>
</div>
