<div class="jumbotron">
  <h1>EducaData</h1>
  <p class="lead">
    Set de visualizaciones de indicadores educativos en el período 2003 a 2009.
  </p>
  <p class="lead">
    Trabajamos con los datos del Ministerio de Educación para buscar alternativas de graficar indicadores educativos generando visualizaciones intuitivas e interactivas.
  </p>

  <a href="https://github.com/wecodeio/educadata" class="btn btn-large btn-success">
    Ver código fuente
  </a>
</div>
